<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title><%= appname %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted"><%= appname %></h3>
      </div>

      <div class="jumbotron">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">Always a pleasure scaffolding your apps.</p>
        <p><a class="btn btn-lg btn-success" href="#">Splendid!<% if (includeFontAwesome) { %> <i class="fa fa-thumbs-o-up"></i><% } %></a></p>
      </div>

  <div class="card-columns">
  
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><a href="http://v4-alpha.getbootstrap.com/">Bootstrap 4</a></h4>
          <p class="card-text">Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><a href="http://libsass.org/">Sass</a></h4>
          <p class="card-text">Sass is a mature, stable, and powerful professional grade CSS extension language.</p>
        </div>
      </div>
      <% if (includeFontAwesome) { %><div class="card">
        <div class="card-block">
          <h4 class="card-title"><a href="http://fontawesome.io/">Font Awesome</a></h4>
          <p class="card-text">Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.</p>
        </div>
      </div><% } %>   
      <% if (includeOcticons) { %><div class="card">
        <div class="card-block">
          <h4 class="card-title"><a href="https://octicons.github.com/">Github Octicons</a></h4>
          <p class="card-text">Way back in 2012, social coding community GitHub launched its own icon font called Octicons. GitHub hasmade them available for anyone and everyone to download and use. <span class="mega-octicon octicon-logo-github" style="min-width:110px;"></span></p>
        </div>
      </div><% } %>  
  </div>

      <div class="footer">
        <p><% if (includeFontAwesome) { %><i class="fa fa-heart"></i><% } %> from us</p>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <% if (includeBootstrap) { %>
    <!-- build:js(.) scripts/plugins.js -->
<% bsPlugins.forEach(function (plugin) { -%>
    <script src="<%= bsPath + plugin %>.js"></script>
<% }) -%>
    <!-- endbuild -->
    <% } %>

    <!-- build:js(.tmp) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
